<!DOCTYPE html PUBLIC "-//W3C//DTD
XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>chia layout</title>
    <link rel="stylesheet" href="style.css">
    <div class="head-top">
        <div class="logo">
            #logo
        </div>
        <div class="banner">
            #banner
        </div>
    </div>
</head>

<body>
    <div class="menu">
        <div class="head-link">
            <a href="#">Home</a>
            <a href="#">Students</a>
            <a href="#">courser</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="search">
            <input type="text" />
            <button> tim kiem</button>
        </div>
    </div>
    <div class="medium">
        <div class="left">
            <div class="left-top">
                <ul>
                    <li>
                        Introduction
                    </li>
                    <li>
                        News
                    </li>
                    <li>
                        Education

                    </li>
                    <li>
                        Register

                    </li>
                    <li>
                        Courser
                    </li>
                </ul>
            </div>
            <div class="left-bot">
            </div>
        </div>
        <div class="content">
            <div class="content-top">

                <div class="content-top-left">
                    Hot new
                </div>
                <div class="content-top-right">
                    Photo Side
                </div>
            </div>

            <div class="content-bot">
                <div class="content-bot-news1">
                    #new 1
                </div>
                <div class="content-bot-news2">
                    #new 2
                </div>
                <div class="content-bot-news3">
                    #new 3
                </div>
                <div class="content-bot-news4">
                    #new 4
                </div>
                <div class="content-bot-news5">
                    #new 5
                </div>
                <div class="content-bot-news6">
                    #new 6
                </div>
            </div>
        </div>
        <div class="right">
            <img class="image" src="../images/lich.jpg">
            <img class="image" src="../images/bieudo.png">
            <img class="image" src="../images/map.jpg">
        </div>
    </div>
</body>

<footer>
    <div class="footer-left">
        @2020 - TapChiLapTrinh

    </div>
    <div class="footer-right">
        <a href="#">Home</a>
        <a href="#">Students</a>
        <a href="#">courser</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
    </div>

</footer>

</html>