<!DOCTYPE html PUBLIC "-//W3C//DTD
XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>chia layout</title>
    <link rel="stylesheet" href="demo3.css">
    <div class="head-top">
        <div class="logo">
            <img width="350px" height="400px" src="../Logo/58959b6905eb4f9011ab60977d3d7a29.jpg">
        </div>
        <div class="banner">
            <img width="1550px" height="400px" src="../Logo/banner-truyện-trọn-bộ.gif">
        </div>
    </div>
</head>

<body>
    <div class="menu">
        <div class="head-link">
            <a class="menu1" href="Demo3.html">Trang chủ </a>
            <a class="menu1" href="TheLoai.html">Thể Loại </a>
            <a class="menu1" href="TruyenTeen.html">Truyện Teen </a>
            <a class="menu1" href="TruyenMoi.html">Truyện mới</a>
            <a class="menu1" href="RealLove.html">Real Love </a>
        </div>
        <div class="search">
            <input type="text" />
            <button> tim kiem</button>
        </div>
    </div>
    <div class="medium">
        <div class="left">
            <h2>Top Truyện</h2>
            <h5>
                <a href="RealLove.html">
                    Ngôn Tình
                </a>
            </h5>
            <h5>
                <a href="TruyenTeen.html">
                    Truyện Teen
                </a>
            </h5>
            <h5>
                <a href="XuyenKhong.html">
                    Xuyên Không
                </a>
            </h5>
            <h5>
                <a href="XuyenKhong.html">
                    Kiếm Hiệp
                </a>
            </h5>
            <h5>
                <a href="XuyenKhong.html">
                    Tiên Hiệp
                </a>
            </h5>
            <h5>
                <a href="LichSu.html">
                    Lịch Sử
                </a>
            </h5>
            <h5>
                <a href="DoThi.html">
                    Đô Thị
                </a>
            </h5>
            <h5>
                <a href="TruyenMa.html">
                    Truyện Ma
                </a>
            </h5>
            <h5>
                <a href="TrinhTham.html">
                    Trinh Thám
                </a>
            </h5>
        </div>
        <div class="right">
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/BBB142C2-176C-4461-ACAE-09720927F641.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/Bìa_truyện_Thám_tử_Kindaichi_tập_1.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/d2be5f0e4718aaabdd6180d10da46408.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/download.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/e1b69707abbd1cbbba74399a4064f13e.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen"
                    src="../images-biatruyen/hoa_si_ve_bia_truyen_tranh_ngang_nhien_cong_kich_phat_giao_.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/images.jpg">
            </a> <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/long-vuong-truyen-thuyet1465219545.jpg">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/Marvel_Studios_logo.svg.png">
            </a>
            <a href="#">
                <img class="right-biatruyen" src="../images-biatruyen/nhoc-miko-edo-rac-roi-ky-(bia-mem)-_22442_1.jpg">
            </a>
        </div>

    </div>
    <footer>
    </footer>

</html>